<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716195885965-vfd457ui9d0ipt2e01797qctuf4iugla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716195885965-vfd457ui9d0ipt2e01797qctuf4iugla</string>
	<key>API_KEY</key>
	<string>AIzaSyCN5mjupSUPcIIUv1qrzsOsCRUKsIVzQOA</string>
	<key>GCM_SENDER_ID</key>
	<string>716195885965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mb.corp.material-property</string>
	<key>PROJECT_ID</key>
	<string>material-property</string>
	<key>STORAGE_BUCKET</key>
	<string>material-property.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716195885965:ios:5b1e7f43edb06386ed03c4</string>
</dict>
</plist>